.label {
    -fx-font-size: 16px;
    -fx-text-fill: blue;
}

.button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.special-button {
    -fx-background-color: red;
    -fx-text-fill: white;
}

